img {
  border-radius : 50%
}

body{
  font-family: serif;
  font-size:120%;
  background-color: #FCF7F8;
}

.article{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mainSection{
  background-color: darkslategray;
  color: whitesmoke;
}

#sidebar{
  width: 15%;
  background-color: mediumseagreen
}

.exLink{
  background-color: lime;
}
.navMenu{
  list-style-type: none;
}
header {
  text-align: center;
  background-color: black;
  color: whitesmoke
}

footer {
  background-color: grey;
  text-align: center;
}
